body {
  font-family: sans-serif;
  padding: 10px;
}

form {
  padding: 10px;
  border: 2px solid lightslategrey;
}

.list-group-item:first-of-type {
  background-color: lightgray;
  font-weight: bold;
}
